@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

body
{
    background-color: #ddf3f5;
    margin: 0 auto;
}

a, ul
{
    color: #e36387;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

ul{
    list-style-type: none;
    /* border-left-style: solid;
    border-left-width: 4px;
    margin-left: 100px;
    padding: 0; */
}

.pet{
    border-left-style: solid;
    border-left-width: 4px;
    padding-left: 10px;
    /* border-bottom-style: solid;
    border-bottom-width: 20px;
    border-bottom-color: #1f2833;
    border-color: #1f2833; */
}

.sub-category
{
    color: black;
}

h1
{
    color: #00596B;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

h2
{
    color: green;
}

h3
{
    color: blue;
}

.header
{
    color: #e36387;

}

div
{
    background-color: #a6dcef;
    color: #00596B;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    width: 100%;
}

#div-1
{
    width: 100%;
    text-align: center;
    font-size: 600%;
    font-weight: bolder;
    /* float: left; */
}
#div-2
{
    width: 100%;
    background-color: #f2aaaa;
    color: #ddf3f5;
    font-size: 600%;
    /* float: left; */
}

.container-elements
{
    height: auto;
    min-height: 100px;
}

.element
{
    float: left;
    width: 20%;
    color: #00596B;
}

#meme-image{
    width: 20%;
}

@media only screen and (max-width: 800px) 
{
    body 
    {
        background-color: #fff;
    }
    #div-1
    {
        width: 100%;
        text-align: center;
        font-size: 500%;
        font-weight: bolder;
    }
    .element
    {
        float: none;
        width: 20%;
        text-align: center;
        margin: 0 auto;
        font-size: 200%;
    }
    .element:hover{
        background-color: #fff;
        color: #e36387;
        transition: background-color 0.5s ease;
    }
  }